<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation=" http://www.springframework.org/schema/beans  
    http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
    http://www.springframework.org/schema/context  
    http://www.springframework.org/schema/context/spring-context-4.0.xsd
    http://www.springframework.org/schema/mvc    
    http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd">

	<mvc:annotation-driven ignore-default-model-on-redirect="true" />

	<context:component-scan base-package="com.ifair.web" use-default-filters="false">
		<context:include-filter type="annotation" expression="org.springframework.stereotype.Controller" />
	</context:component-scan>

	<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath:application.properties</value>
			</list>
		</property>
	</bean>
	
	<bean id="velocityConfig" class="org.springframework.web.servlet.view.velocity.VelocityConfigurer">
		<property name="resourceLoaderPath" value="/WEB-INF/velocity/" />
		<property name="velocityProperties">
			<props>
				<prop key="input.encoding">UTF-8</prop>
				<prop key="output.encoding">UTF-8</prop>
				<!--
				<prop key="velocimacro.library">macro/admin_macro.vm</prop>
				<prop key="velocimacro.library.autoreload">true</prop>
				<prop key="velocimacro.permissions.allow.inline.local.scope">true</prop>
				-->
			</props>
		</property>
	</bean>

	<bean id="viewResolver" class="org.springframework.web.servlet.view.velocity.VelocityLayoutViewResolver">
		<property name="cache" value="true" />
		<property name="prefix" value="" />
		<property name="suffix" value=".vm" />
		<property name="contentType" value="text/html; charset=utf-8"/>
		<property name="viewClass" value="org.springframework.web.servlet.view.velocity.VelocityLayoutView" />
		<property name="layoutUrl" value="layouts/layout.vm" />
		<property name="toolboxConfigLocation" value="/WEB-INF/toolbox.xml"/>
		<property name="requestContextAttribute" value="rc"/>
		<property name="order" value="0" />
	</bean>

	<bean class="org.springframework.web.servlet.view.BeanNameViewResolver">
	    <property name="order" value="1" />
	</bean>
	  
	<bean id="multipartResolver"
		class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<property name="defaultEncoding" value="utf-8"/>
		<property name="maxUploadSize" value="10485760000"/>
		<property name="maxInMemorySize" value="40960"/>
	</bean>
	
	<mvc:resources mapping="/css/**" location="/resources/css/" />
	<mvc:resources mapping="/ajax/**" location="/resources/ajax/" />
	<mvc:resources mapping="/fonts/**" location="/resources/fonts/" />
	<mvc:resources mapping="/js/**" location="/resources/js/" />
	<mvc:resources mapping="/less/**" location="/resources/less/" />
	<mvc:resources mapping="/img/**" location="/resources/img/" />
	<mvc:resources mapping="/excel/**" location="/resources/excel/" />
	<mvc:resources mapping="/download/**" location="/resources/download/" />
</beans>
